* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #ccd6f6;
  background-color: #0a192f;
  display: flex;
  min-height: 100vh;
}
