.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 18, 47, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #112240;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 90%;
  position: relative;
  border: 2px solid #64ffda;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: #64ffda;
  cursor: pointer;
}

.modal-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-links a {
  color: #64ffda;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
}

.modal-links a:hover {
  text-decoration: underline;
}

.link svg {
  vertical-align: middle;
  margin-left: 0.4rem;
}

.lang-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 25, 47, 0.9);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.lang-modal.show {
  opacity: 1;
  pointer-events: all;
}

.lang-modal-content {
  background-color: #112240;
  color: #ccd6f6;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(100, 255, 218, 0.3);
  text-align: center;
  max-width: 350px;
  width: 90%;
}

.lang-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.lang-btn {
  background: none;
  border: 1px solid #64ffda;
  color: #64ffda;
  font-size: 1.1rem;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.lang-btn:hover {
  background: #64ffda;
  color: #0a192f;
  box-shadow: 0 0 8px #64ffda, 0 0 16px #64ffda;
}

.lang-btn img {
  width: 75px;
}

.lang-buttons .lang-btn {
  flex: 1;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 1px solid #64ffda;
  background: none;
  color: #64ffda;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
